@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit';
    font-size: 15px;
}

.parent{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: 30px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    padding-block: 30px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image{
    width: 80%;
    margin-inline: auto;
}



img{
    width: 100%;
    border-radius: 10px;
    margin: 0;
}

.h3, .para{
    width: 80%;
    margin-inline: auto;
    text-align: center;
}

h3{
    color: hsl(218, 44%, 22%);
}

p{
    color: hsl(220, 15%, 55%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media (max-width:1200px) {
    .container{
        width: 40%;
    }
}
  
@media (max-width:767px) {
    .container{
        width: 80%;
    }
}